<p id="notice"><%= notice %></p>

<p>
  <strong>Date borrower:</strong>
  <%= @borrower.date_borrower %>
</p>

<%= link_to 'Edit', edit_borrower_path(@borrower) %> |
<%= link_to 'Back', borrowers_path %>
